# 0. Import Data

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('Churn.csv')

In [3]:
df.head()

,Customer ID,Gender,Senior Citizen,Partner,Dependents,tenure,Phone Service,Multiple Lines,Internet Service,Online Security,...,Device Protection,Tech Support,Streaming TV,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn
0,7590-VHVEA,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
2,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
3,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
4,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No

In [4]:
df.shape

(7044, 21)

In [5]:
X = pd.get_dummies(df.drop(['Churn', 'Customer ID'], axis=1))
y = df['Churn'].apply(lambda x: 1 if x=='Yes' else 0)

In [58]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.2)

In [60]:

X_train.head()

,Senior Citizen,tenure,Monthly Charges,Gender_Female,Gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,Phone Service_No,...,Total Charges_995.35,Total Charges_996.45,Total Charges_996.85,Total Charges_996.95,Total Charges_997.65,Total Charges_997.75,Total Charges_998.1,Total Charges_999.45,Total Charges_999.8,Total Charges_999.9
213,0,61,19.75,False,True,True,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
3627,0,23,55.30,False,True,True,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
4585,1,69,74.10,False,True,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
6683,0,69,92.45,False,True,False,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
675,1,52,49.15,False,True,True,False,True,False,True,...,False,False,False,False,False,False,False,False,False,False

In [51]:
y_train.head()

2475    0
2510    0
4428    0
4449    1
6989    0
Name: Churn, dtype: int64

# 1. Import Dependencies

In [41]:
from tensorflow.keras.models import Sequential, load_model
from tensorflow.keras.layers import Dense
from sklearn.metrics import accuracy_score

# 2. Build and Compile Model

In [42]:
model = Sequential()
model.add(Dense(units=32, activation='relu', input_dim=len(X_train.columns)))
model.add(Dense(units=64, activation='relu'))
model.add(Dense(units=1, activation='sigmoid'))

In [43]:
model.compile(loss='binary_crossentropy', optimizer='sgd', metrics=['accuracy'])

In [44]:
import tensorflow as tf

In [45]:
y_train = tf.convert_to_tensor(y_train, dtype=tf.float32)
# import numpy as np

# y_train = y_train.astype(np.float32)
# y_train = tf.convert_to_tensor(y_train)

In [46]:
y_train.dtype

tf.float32

In [48]:
X_train.dtype

AttributeError: 'DataFrame' object has no attribute 'dtype'

# 3. Fit, Predict and Evaluate

In [54]:
# numeric_columns = X_train.select_dtypes(include=['float', 'int']).columns
# X_train_numeric = X_train[numeric_columns]

# X_train_array = X_train_numeric.values.astype(np.float32)

In [63]:
model.fit(X_train, y_train, epochs=20, batch_size=32)

ValueError: Failed to convert a NumPy array to a Tensor (Unsupported object type int).

In [17]:
y_hat = model.predict(X_test)
y_hat = [0 if val < 0.5 else 1 for val in y_hat]

In [18]:
accuracy_score(y_test, y_hat)

0.7814052519517388

# 4. Saving and Reloading

In [14]:
model.save('tfmodel')

WARNING:tensorflow:From /Users/nicholasrenotte/opt/anaconda3/lib/python3.7/site-packages/tensorflow/python/training/tracking/tracking.py:111: Model.state_updates (from tensorflow.python.keras.engine.training) is deprecated and will be removed in a future version.
Instructions for updating:
This property should not be used in TensorFlow 2.0, as updates are applied automatically.
WARNING:tensorflow:From /Users/nicholasrenotte/opt/anaconda3/lib/python3.7/site-packages/tensorflow/python/training/tracking/tracking.py:111: Layer.updates (from tensorflow.python.keras.engine.base_layer) is deprecated and will be removed in a future version.
Instructions for updating:
This property should not be used in TensorFlow 2.0, as updates are applied automatically.
INFO:tensorflow:Assets written to: tfmodel/assets

In [15]:
del model

In [16]:
model = load_model('tfmodel')